<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="kr.spring.ap.dao.ApCallMapper">  <!-- namespace는 유니크하게 설정, sql식별자 -->

	<select id="selectCallList" parameterType="map" resultType="apCallCommand">
  	select * from (
  		select a.*, rownum rnum from(
  		
  			select * from ap_call_home
  			
  			<where>
		  		<if test="keyword != '' and keyfield == 'title'">
		  			call_name like '%' || #{keyword} || '%'
		  		</if>
		  	</where>
  			
  			order by call_num desc)a)
  			
  		<![CDATA[
  			where rnum >= #{start} and rnum <= #{end}
  		]]>
  </select>
  
  <!-- map,interger는 Map,Integer 둘 다 상관 없음. mybatisc가 alias를 가지고 있으므로 -->
	<select id="selectCallRowCount" parameterType="map" resultType="integer">
	  	select count(*)
	  	from ap_call_home
	  	<where>
	  		<if test="keyword != '' and keyfield == 'title'">
	  			call_name like '%' || #{keyword} || '%'
	  		</if>
	
	  	</where>
  </select>
  
  	<update id="update">
		UPDATE ap_call_home SET call_name=#{call_name}, call_start=#{call_start}, 
		call_end=#{call_end}, call_wei=#{call_wei}, call_re=#{call_re}, call_re_date=#{call_re_date}, 
		call_re_hour=#{call_re_hour}, call_re_min=#{call_re_min}, call_intro=#{call_intro}, call_phone=#{call_phone} WHERE call_num=#{call_num}
	</update>

</mapper>







